.hidden {
    align-items: center;
    position: relative;
    margin-top: 70px;
    margin-left: 35%;
    position: absolute;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), -9px -9px 16px rgb(255 255 255 / 50%);
}


/* Fondo animado */

.fondo-animado {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

span.uno,
span.dos,
span.tres,
span.cuatro {
    border: 0;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    animation: vuelta 7s linear infinite normal both;
}

span.uno {
    width: 100px;
    height: 100px;
    bottom: -100px;
    background-color: #e96bff65;
}

span.dos {
    width: 70px;
    height: 70px;
    bottom: -70px;
    background-color: #90bbff71;
}

span.tres {
    width: 50px;
    height: 50px;
    bottom: -50px;
    background-color: #ff50706b;
}

span.cuatro {
    width: 20px;
    height: 20px;
    bottom: -20px;
    background-color: #67f3d577;
}

@keyframes vuelta {
    from {
        transform: rotate(0deg);
        bottom: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        bottom: calc(100% + 100px);
        opacity: 0;
    }
}

.fondo-animado span:nth-child(1) {
    left: 5%;
}

.fondo-animado span:nth-child(2) {
    left: 50%;
}

.fondo-animado span:nth-child(3) {
    left: 35%;
}

.fondo-animado span:nth-child(4) {
    left: 75%;
}

.fondo-animado span:nth-child(5) {
    left: 25%;
}

.fondo-animado span:nth-child(6) {
    left: 85%;
}

.fondo-animado span:nth-child(7) {
    left: 90%;
}

.fondo-animado span:nth-child(8) {
    left: 65%;
}

.fondo-animado span:nth-child(9) {
    left: 60%;
}

.fondo-animado span:nth-child(10) {
    left: 75%;
}

.fondo-animado span:nth-child(11) {
    left: 10%;
}

.fondo-animado span:nth-child(12) {
    left: 45%;
}

span.delay-1 {
    animation-delay: 1s;
}

span.delay-2 {
    animation-delay: 2s;
}

span.delay-3 {
    animation-delay: 3s;
}

span.delay-4 {
    animation-delay: 4s;
}

span.delay-5 {
    animation-delay: 5s;
}

span.delay-7 {
    animation-delay: 7s;
}